{% extends "base.html" %}
{% block head %}
    {% block title %}
        <title>Game</title>
    {% endblock title %}
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />
	<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
{% endblock head %}
{% block style %}
<style>
	#image-map {
	  width: 1000px;
	  height: 1000px;
	  border: 1px solid #ccc;
	  margin:10px;
	}
</style>
{% endblock %}

{% block content %}
    <label id="RegionName">You are at: {{ game.player.region.name }}</label><br>
    <label id="techLevel">Technical Level: {{ game.player.region.tech_level.name }}</label><br>
    <label id="coordinate">Coordinates: ({{ game.player.region.coordinates[0] }},{{ game.player.region.coordinates[1] }})</label>
	<div id="image-map"></div>
{% endblock content %}
{% block scripts %}
<script>
	// create the slippy map
	var map = L.map('image-map', {
	  minZoom: 1,
	  maxZoom: 4,
	  center: [0, 0],
	  zoom: 1,
	  crs: L.CRS.Simple
	});
	// dimensions and url of the image
	var w = 2048,
	    h = 2048,
	    url = "{{ game.player.region.image_url }}";

	//make custom icon
    var star_icon = L.icon({
        iconUrl: 'static/star2.png',
        iconSize: [38, 38], // size of the icon
        popupAnchor: [0, -15]
        });
    var spaceship_icon = L.icon({
        iconUrl: 'static/spaceship.jpg',
        iconSize:[38, 38],
        popupAnchor: [0, -15]
    })
    var customOptions =
        {
        'maxWidth': '1000',
        }
    //var marker = L.marker([-100, 100]).addTo(map);
    {% for i in range(0,len) %}

        var customPopup = "{{ game.universe.regions[i].name }}<br/>Coordinates: ({{ game.universe.regions[i].coordinates[0] }}, {{ game.universe.regions[i].coordinates[1] }})<br/>Cost: {{ game.calculate_cost_to(game.universe.regions[i]) }}<br/>TechLevel:{{ game.player.region.tech_level.name }}<br\><button id = \"travel\" class=\"btn btn-primary\" onclick=\"travel({{ "\"" + game.universe.regions[i].name + "\""}})\"/>Travel</button>";
        var marker{{i}} = L.marker([
            {{ -(game.universe.regions[i].coordinates[0] + 230) * 1.12 }},
            {{ (game.universe.regions[i].coordinates[1] + 230) * 1.12 }}],
            {icon: {{'star_icon' if i != game.current_region_num else 'spaceship_icon'}} })
            .bindPopup(customPopup,customOptions).addTo(map);
    {%  endfor %}

	// calculate the edges of the image, in coordinate space
	var southWest = map.unproject([0, h], map.getMaxZoom()-2);
	var northEast = map.unproject([w, 0], map.getMaxZoom()-2);

	var bounds = new L.LatLngBounds(southWest, northEast);
	L.imageOverlay(url, bounds).addTo(map);
	map.setMaxBounds(bounds);

	function travel(target) {
	    window.location.href = '/game?travel=' + target
    }
</script>
{% endblock scripts %}