<head>
    <title>Rendering Markers on Image</title>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />
	<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
</head>

<style>
	#image-map {
	  width: 2880px;
	  height: 1880px;
	  border: 1px solid #ccc;
	  margin:10px;
	}
</style>

<body>
	<div id="image-map"></div>
	<button type="button" onclick="getAllMarkers();">Pop Up All Marker Dimensions</button>
</body>

<script>
	// create the slippy map
	var map = L.map('image-map', {
	  minZoom: 1,
	  maxZoom: 4,
	  center: [0,0],
	  zoom: 1,
	  crs: L.CRS.Simple
	});
	// dimensions and url of the image
	var w = 2000,
	    h = 1500,
	    url = 'https://images.unsplash.com/photo-1522030299830-16b8d3d049fe?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&dl=mike-petrucci-uIf6H1or1nE-unsplash.jpg';

	//make custom icon
    var star_icon = L.icon({
        iconUrl: '/Users/jianghazel/Documents/cs2340/SpaceTrader/templates/star.png',
        iconSize: [38, 95], // size of the icon
        popupAnchor: [0,-15]
        });
    var customOptions =
        {
        'maxWidth': '500',
        }
    //var marker = L.marker([-100, 100]).addTo(map);
    {% for i in range(0,len) %}

        var customPopup = "{{ game.universe.regions[i].name }}<br/><img src='http://joshuafrazier.info/images/maptime.gif' alt='maptime logo gif' width='350px'/>";

        var marker{{i}} = L.marker([{{ -(game.universe.regions[i].coordinates[0] + 200)*1.5 }}, {{ (game.universe.regions[i].coordinates[1] + 200)*1.5 }}],{icon: star_icon}).bindPopup(customPopup,customOptions).addTo(map);
    {%  endfor %}

	// calculate the edges of the image, in coordinate space
	var southWest = map.unproject([0, h], map.getMaxZoom()-1);
	var northEast = map.unproject([w, 0], map.getMaxZoom()-1);
	var bounds = new L.LatLngBounds(southWest, northEast);
	L.imageOverlay(url, bounds).addTo(map);
	map.setMaxBounds(bounds);
	function getAllMarkers() {
	    var allMarkersObjArray = [];//new Array();
        {% for i in range(0,len) %}
            allMarkersObjArray.push(marker{{i}}._latlng);
        {%  endfor %}
	    alert(JSON.stringify(allMarkersObjArray));
	    console.log(JSON.stringify(allMarkersObjArray));
	}
</script>
